<div class="posts">
    <div>
        <div>
            <button mat-raised-button color="primary" routerLink="/posts/create">Créer un article</button>
        </div>
        <div>

        </div>
    </div>
    <p *ngIf="posts$.value.length == 0; else list">No posts found</p>
    <ng-template #list>
        <mat-card class="card-cursor" *ngFor="let post of posts$ | async" [routerLink]="['/posts', post.id]">
            <mat-card-header>
                <mat-card-title>{{ post.title }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div>
                    <div>{{ post.createdAt | date }}</div>
                    <div>{{ post.authorUsername }}</div>
                </div>
                <div>
                    <span>Content: </span><span>{{ post.content | slice:0:50 }}</span><span *ngIf="post.content.length > 50"> ...</span>
                </div>
            </mat-card-content>
        </mat-card>
    </ng-template>
</div>
