<div class="login">
    <app-header></app-header>
    <mat-card>
        <div fxLayout="row" fxLayout.lt-sm="column">
            <button mat-icon-button routerLink="">
                <mat-icon class="back-icon" [inline]="true">arrow_back</mat-icon>
            </button>
            <div class="logo-card" fxLayoutAlign="center">
                <img src="assets/img/logo.png">
            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center">
            <mat-card-header>
                <mat-card-title class="card-title">Se connecter</mat-card-title>
            </mat-card-header>
            <form class="login-form" [formGroup]="form" (ngSubmit)="submit()">
                <mat-card-content fxLayout="column">
                    <mat-label>E-mail ou nom d'utilisateur</mat-label>
                    <mat-form-field class="form-field-w-250" appearance="outline">
                        <input matInput formControlName="email" type="email">
                        <mat-error>Ce champ est requis</mat-error>
                    </mat-form-field>
                    <mat-label>Mot de passe</mat-label>
                    <mat-form-field class="form-field-w-250" appearance="outline">
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off': 'visibility'}}</mat-icon>
                        </button>
                        <mat-error>Ce champ est requis</mat-error>
                    </mat-form-field>
                </mat-card-content>
                <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
                    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Se connecter</button>
                    <p *ngIf="onError" class="error">Bad username or password</p>
                </div>
            </form>
        </div>
    </mat-card>
</div>
