
<form class="form-comment" [formGroup]="form" (ngSubmit)="submit()" fxLayout="column" fxLayoutAlign="start center">
    <div class="w100" fxLayout="row" fxLayoutAlign="end center">
        <mat-form-field>
            <mat-label>Écrivez ici votre commentaire</mat-label>
            <textarea matInput formControlName="comment"></textarea>
            <mat-error>{{ getErrorText(form.controls.comment) }}</mat-error>
        </mat-form-field>
        <button class="btn-send" mat-icon-button [disabled]="form.invalid">
            <mat-icon [inline]="true" color="primary">send</mat-icon>
        </button>
    </div>
    <p class="error" *ngIf="onError">An error occurred</p>
</form>
