<div class="comments">
    <hr>
    <h3>Commentaires</h3>
    <p *ngIf="comments$.value.length == 0; else comments">Be the first to comment !</p>
    <ng-template #comments>
        <mat-card *ngFor="let comment of comments$ | async" fxLayout>
            <mat-card-content fxLayout="column" fxLayout.gt-xs="row">
                <div class="comment" fxFlexOrder.gt-xs="1">
                    <span>{{ comment.comment }}</span>
                </div>
                <div class="username">
                    <span>{{ comment.userName }}</span>
                </div>
            </mat-card-content>
        </mat-card>
    </ng-template>
    <app-comment-form [postId]="postId" (refreshList)="refreshList($event)"></app-comment-form>
</div>
