<div class="header">
    <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
        <div class="logo">
            <a routerLink="">
                <img src="assets/img/logo.png">
            </a>
        </div>
        <div class="menu" *ngIf="isLoggedIn()" fxLayout="row">
            <a mat-button routerLink="posts">Articles</a>
            <a mat-button routerLink="topics">Thèmes</a>
            <button class="btn-profile" mat-icon-button routerLink="me">
                <mat-icon [inline]="true">account_circle</mat-icon>
            </button>
        </div>
    </mat-toolbar>
</div>