<div class="my-topics">
    <hr>
    <div fxLayout="column" fxLayoutAlign="start center">
        <h2 fxShow="true" fxHide.lt-sm="true">Abonnements</h2>
        <div *ngIf="topics && topics.length > 0; else noTopics" fxLayout="column" fxLayout.gt-xs="row wrap" fxLayoutGap.gt-xs="10px">
            <mat-card *ngFor="let topic of topics" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px">
                <mat-card-header>
                    <mat-card-title>{{ topic.name }}</mat-card-title>
                </mat-card-header>
                <mat-card-content><span class="description">Description: {{ topic.description }}</span></mat-card-content>
                <mat-card-footer>
                    <button mat-raised-button color="primary" (click)="unsubscribe(topic.id)">Se désabonner</button>
                </mat-card-footer>
            </mat-card>
        </div>
        <ng-template #noTopics>No topic subscription yet !</ng-template>
        <p *ngIf="onError" class="error">An error occurred</p>
    </div>
</div>
